.container{
    background-color: rgb(61, 61, 202);
    display: flex;
    
    justify-content: center;
}
.form{
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    height: 80%;
    background-color: rgb(191, 192, 211);
}

.id{
    font-size: 30px;
}

.container div{
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
}

.deleteButton{
    width: 50%;
    height: 28px;
    margin-top: 10px;
    background-color: red;
}
