@import '../../../styles/vars';

.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items:center;
}
.form_container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
   
}
.logo {
    background-image: url('../../../../assets/icons/camera_icon.svg');
    width: 150px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 48px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.title{
    color: var(--text-input-field);
    font-size: var(--lg);
    margin-bottom: 32px;
    text-align: start;
}
.form, .form div{
    display: flex;
    flex-direction: column;
}

.label{
    color: var(--text-input-field);
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.primary_button{
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.input_name, .input_password, .input_email{
    margin-bottom: 22px;    
}

.create_button{
    margin-top: 14px;
    margin-bottom: 30px;
}
.message{
    color: red;
  }

@media(max-width:640px){
    .logo{
        display: block;
    }
    .primary-button{
        position: absolute;
        bottom: 0px;
        width: 300px;
        margin-bottom: 24px;
    }
    .form-container{
        height:  100%;
    }
}
