$base-color: #ed8989;
$color: rgba(black, 0.88);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}


body{
    background-image: url("../../assets/img/welcome-background.jpg");
    backdrop-filter:  brightness(40%) blur(2px);

}

