@import '../../styles/vars';

.main_welcome_container{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

}

 .welcome_title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.welcome_title h2{
    padding-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.welcome_title p {
    padding-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #d2cece;
}

.welcome_container__slider{
    color: white;
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}


.welcome_container__card{
    border: 1px solid red;
    scroll-snap-align: center;
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 20px 20px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89, 73, 30,0.16);
}


.message_card__title{
    padding-top: 30px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgb(223, 198, 198);
    font-family: "Dm Sans";
}

.message_card_price{
    padding: 5px 0;
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.3rem;
    color: rgb(255, 255, 255);
}

.message_card_price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 300;
    left: calc(50% - 40px);
    top: 44px;
}

.message_card_saving{
    height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #dadada;
}

.start_button{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 151px;
    height: 48px;
    border: 2px solid #F7931A;
    border-radius: 4px;
    margin: 20px auto;
    background: var(--blue);
    border-radius: 15px;
}

.start_button a{
    text-decoration: none;
}
@media (min-width:1020px) {
    .welcome_container__slider{
        justify-content: center;
        height: 330px;
        color: red;
    }
    .welcome_container__slider::-webkit-scrollbar{
        width: 0;
    }
} 