.main_container{
    background-color: rgb(54, 139, 219);
    padding: 20px;
}
.title{
    color: rgb(94, 0, 0);
    text-align: center;
}
.navigation_bar{
    display: flex;
    align-items: center;
    padding: 0;
}

.active {
    background-color: red;
}

.list_items{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: 0 auto;
    justify-content: flex-start;
    white-space: nowrap;
    width: 90%;
    padding: 10px 0;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid black;
}

.target {
    list-style: none;
    padding: 0 15px;
    border: 1px solid black;
    margin: 0 5px;

}


@media (min-width:740px)
{   
    .main_container{
        height: 92%;
    }
    .container{
        grid-template-columns: 20% 80%;;
    }
    .navigation_bar span{
        display: none;
    }
    .list_items {
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 0;
        overflow-y: auto;
        overflow-x: none;
    }
    .target{
        padding: 0;
        margin: 5px 5px;
    }
}