.container{
    background-color: rgb(57, 57, 243);
    display: flex;
    justify-content: center;

}
.container div{
    padding: 5px;
}

.inputsUpdate{
    border-radius: 10px;
}
.objectList{
    background-color: rgb(41, 132, 181);
    margin-bottom: 40px;
}
.deleteButton{
    width: 28px;
    height: 28px;
    background-color: red;
}

.addItemInputs{
    background-color: rgb(57, 171, 233);
}
.addItemInputs input {
    border-radius: 15px;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color: bisque;
}
.buttonsContainer input{
    border-radius: 10px;
    margin: 0 10px ;
}
.hidden {
    display: none;
  }